<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });


    });
</script>

<script type="text/javascript" src="../../static/js/FileSaver.min.js"></script>
<script type="text/javascript" src="../../static/js/jspdf.min.js"></script>
<script type="text/javascript" src="../../static/js/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="../../static/js/tableExport.js"></script>
<script type="text/javaScript">
    function doExport() {
        $('#table').tableExport({
            type: 'pdf',
            jspdf: {
                orientation: 'p',
                margins: {right: 20, left: 20, top: 30, bottom: 30},
                autotable: {
                    styles: {
                        fillColor: 'inherit',
                        textColor: 'inherit',
                        fontStyle: 'inherit'
                    },
                    tableWidth: 'wrap'
                }
            }
        });
    }
</script>
