{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% block content %}

<div class="col-6">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if user.profile %}
            {% if field.name == 'profile' %}<br/>
            <img id="profile_img" src='{{ user.profile.url }}' alt=""
                 style="height : 12rem; width:12rem; border-radius: 20rem; object-fit: cover;"/><br/>
            {% endif %}
            {% else %}
            {% if field.name == 'profile' %}<br/>
            <img id="profile_img" src='' alt=""
                 style="height : 12rem; width:12rem; border-radius: 20rem; object-fit: cover;"/><br/>
            {% endif %}
            {% endif %}

            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-dark rounded-pill col-6">수정하기</button>
    </form>
</div>
<script>

    $(function () {
        $('#id_profile').change(function () {
            if (this.files[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    $('#profile_img').attr('src', e.target.result).show();
                };
            }
        })
    })
</script>

{% endblock %}