<!DOCTYPE html>
<html lang="UTF-8">
{% include 'head.html' %}
<body>

{% include 'sidebar.html' %}
{% if messages %}
<div class="alert alert-success messages">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ message }}<br/>
    </span>
    {% endfor %}
</div>
{% endif %}
{% block content %}

{% endblock %}


</div>
</main>
</div>
<!-- page-wrapper -->
{% block script %}
{% endblock %}
{% include 'base/js.html' %}
</body>

</html>